<div class="groups">
  <button class="nav-button"><a href="<%=baseURL%>/user/events">My Events</a></button><button class="nav-button"><a href="<%=baseURL%>/user/groups">My Groups & Projects</a></button>
  <h1>Groups & Projects</h1>
  <% if (groups.nodes?.length > 0) { %>   
    <% for (const group of groups.nodes) { %>
      <div class="group-div">
        <h3>Group</h3>
        <h4>
          <%= group.name %>
        </h4>
        <% if (group.avatarUrl) { %>
          <img src="<%= group.avatarUrl %>" alt="Group avatar">
        <% } %><a href="<%= group.webUrl %>"><%= group.fullPath %></a>
        <% if (group.projects.nodes?.length > 0) { %>
          <h3>Projects</h3>
          <% for (const project of group.projects.nodes) { %>
            <div class="project-div">
              <h4><%= project.name %></h4>
              <a href="<%= project.webUrl %>"><%= project.fullPath %></a>
              <h5>Last Commit</h5>
              <% if (project.repository?.tree?.lastCommit) { %>
                <img src="<%= !project.repository.tree.lastCommit.author.avatarUrl.includes('https') ? 'https://gitlab.lnu.se' + project.repository.tree.lastCommit.author.avatarUrl : project.repository.tree.lastCommit.author.avatarUrl %>" alt="Author Avatar">
                <p>Author: <%= project.repository.tree.lastCommit.author.name %></p>
                <p>Date: <%= project.repository.tree.lastCommit.authoredDate.replace('T', ' ').substring(0, 19) %></p>
              <% } else { %>
                <p>No Last Commit</p>
              <% } %>
            </div>
          <% } %>
          <% if (group.projects.pageInfo && group.projects.pageInfo.hasNextPage) { %>
            <p style="color: crimson; font-size: 1.2em; letter-spacing: 1px;">There are more projects available...</p>
          <% } %>
        <% } else { %>
          <div>
            <p>There are no projects to display</p>
          </div>
        <% } %>
      </div>
      <% } %>
      <% if (groups.pageInfo && groups.pageInfo.hasNextPage) { %>
        <p style="color: crimson; font-size: 1.2em; letter-spacing: 1px;">There are more groups available...</p>
      <% } %>
      <% } else { %>
        <div>
          <p>
            There are no groups to display
          </p>
        </div>
        <% } %>
</div>